html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../../../Fond_Intro.jpg'); 
    background-size: cover;
    background-position: center;
}

#catchphrases {
    position: relative;
    left: 15%;
    font: bold 4vw Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px  #ECE98B;
}

#description {
    position: relative;
    left: 15%;
    top: 15%;
    width: 50%;
    height: 20%;
    padding: 10px;
    font: bold 2vw Arial, Helvetica, sans-serif;
    color:  #ECE98B;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 4px  #ECE98B;
    margin: 10% 15% 0 10%;
}

#buttonStartAdventure {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background-color:  #ECE98B;
    padding: 20px;
    border-radius: 10px;
    font-size: 2vw;
}