body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../picture/background.jpg'); /* Add your image URL here */
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image in the body */
}

#friends {
    padding: 20px;
    border-radius: 10px;
    font-size: 2vw;
}

#sucess {
    padding: 20px;
    border-radius: 10px;
    font-size: 2vw;
}

#banner {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../picture/mur.jpg');
    background-size: contain;
    background-repeat: repeat;
    border-radius: 10px;
    box-sizing: border-box; 
    box-shadow: 0 0 10px #7a7774;
}

.flag {
    background-image: url('../picture/banniere.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
}

#flag1 {
    grid-column: 1/2;
}

#flag2 {
    grid-column: 3/4;
}

#buttonSucess {
    grid-column: 2/3;
    background-image: url('../picture/coupe.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 10px;
}

#buttonFriends {
    grid-column: 1/2;
    background-image: url('../picture/Ajout_ami.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 8px ;
    margin: 10px;
}

#title {
    font-size: 50px;
}
#login {
    grid-column: 4/5;
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 10%;
    height: 100%;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 10% 10% 60% 20%;
    margin: 0;
    height: 100%;
    width: 100%;
}

#texte {
    display: grid;
    justify-content: center;
    font-size: 40px;
    color: #CD9B75;
}

#mode{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.modechoice {
    grid-column: auto;
    display: grid;
    grid-template-rows: 80% 20%;
    background-image: url('../picture/mode.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin : 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    justify-content: left;
}

#continue {
    grid-row: 1/2;
    background-image: url('../picture/continue.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    margin-top: 50px;
    margin-left: 10px;
}

#buttonContinue {
    grid-row: 2/3;
    margin-bottom: 35px;
    background-color: #FFF2E3 ;
    margin-left: 30px;
    margin-right: 20px;
}

#local {
    grid-row: 1/2;
    background-image: url('../picture/local.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-left: 20px;
}

#buttonLocal {
    grid-row: 2/3;
    margin-bottom: 35px;
    background-color: #FFF2E3 ;
    margin-left: 30px;
    margin-right: 20px;
}

#IA {
    grid-row: 1/2;
    background-image: url('../picture/IA.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin-top: 50px;
    margin-left: 20px;
}

#buttonIA {
    grid-row: 2/3;
    margin-bottom: 35px;
    background-color: #FFF2E3 ;
    margin-left: 30px;
    margin-right: 20px;
}

#multiplayer {
    grid-row: 1/2;
    background-image: url('../picture/multi.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    margin-top: 50px;
    margin-left: 10px;
}

#buttonMulti {
    grid-row: 2/3;
    margin-bottom: 35px;
    background-color: #FFF2E3;
    margin-left: 30px;
    margin-right: 20px;
}
#waitingScreen {
    display: none; /* Hidden by default */
    position: fixed; /* Positioned relative to the viewport */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
    color: white;
    text-align: center;
    z-index: 1000; /* Sit on top of other elements */
}

#waitingScreen h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the h2 element */
    font-size: 2em;
}
