html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}


#players {
    display: block;
    margin: auto;
    background-color: #F5F5F5;
    border-color: #FFF2E3;
    border-radius: 10px;
    width: 250px;
    height: 200px;

    #buttonContinue {
        background-color: #FDE675;
    }
    #buttonBack {
        background-color: #F9D5A9;
    }
}
