html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../picture/background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    display: grid;
    grid-template-rows: 12% 10% 58% 20%;
}


#rules{
    font-size: 1.5rem;
    color: #CD9B75;
    text-align: center;
    margin: auto;
    background-color: #F5F5F5;
    border-radius: 15px;
    border: 2px solid #ECD6BC;
    padding: 2%;
    margin: 1%;
    box-shadow: 0 0 10px #444343;
    overflow: scroll; 
    max-height: 70vh;
}
#retour {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #F5F5F5;
    border: 2px solid #ECD6BC;
    width: 10%;
    height: 80%;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px #444343;
    cursor: pointer;
}

#retour > p {
    color: #CD9B75;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
}

#back {
    background-image: url("../picture/retour_rouge.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin: auto;
    padding: 0;
    border: 0;
    width: 45px;
    height: 45px;
}

@media screen and (max-width:1090px) and (max-height:2410px) {
    #rules{
        font-size: 0.8rem;
        margin: 2px;
    }
    #content{
        margin: 5px;
    }
    
}
@media screen and (max-width: 3800px) and (max-height: 2100px) {
    #banner {
        display:none; 
    }
    
    .flag {
        display:none; 
    }
    
    #flag1 {
        display:none; 
    }
    
    #flag2 {
        display:none; 
    }
    
    #title {
        display:none; 
    }
    #buttonConnect {
        display: none;
    }
    
    #friends, #success {
        display: none;
    }
    
    #buttonFriends {
        display: none;
    }
    
    #buttonSuccess {
        display: none;
    }
    
    #buttonFriends, #buttonSuccess {
        display: none;
    }
        
    
    #login {
        display: none;
    }
    
    #profile {
       display: none;
    }
    
    #name {
        display: none; 
    }
    
    #avatar {
        display: none;
    }
    
    #buttonLogin {
        display: none;
    }
    #retour > p {
        display: none;
    }
    #retour {
        position: fixed; /* Positionne l'élément par rapport à la fenêtre du navigateur */
        top: 1vh; /* Aucune marge depuis le haut de l'écran */
        right: 1vw; /* Aucune marge depuis le côté droit de l'écran */
        width: 35px; /* Largeur de la croix rouge */
        height: 35px; /* Hauteur de la croix rouge */
        border: none; /* Aucune bordure */
        background-color: none;
        border: 2px solid none;
    }
    #back {
        width: 25px; /* Largeur de la croix rouge */
        height: 25px; /* Hauteur de la croix rouge */
        background-image: url("../picture/redcross.png");  /* Chemin vers l'image de la croix rouge */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}