body {
    font-family: 'Goudy Bookletter 1911', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../picture/background.jpg'); /* Add your image URL here */
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image in the body */
}

button {
    background: url('parchment.jpg'); /* Use a parchment texture for buttons */
    border: none;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    color: #5D3A00;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
}

button:hover {
    background: url('parchment.jpg'); /* Darker parchment texture on hover */
}

.message-sent{
    color: blue;
}
.message-received{
    color: green;
}


#friends, #sucess,#notificationButton {
    padding: 20px;
    border-radius: 10px;
    font-size: 2vw;
}
#banner {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF2E3;
    background-image: url('../picture/mur.jpg');
    background-size: contain;
    background-repeat: repeat;
    border-radius: 10px;
    box-sizing: border-box; 
    box-shadow: 0 0 10px #7a7774;
}

.flag {
    background-image: url('../picture/banniere.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
}

#flag1 {
    grid-column: 1/2;
}

#flag2 {
    grid-column: 3/4;
}

#buttonSucess {
    grid-column: 2/3;
    background-image: url('../picture/coupe.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 10px;
}

#buttonFriends {
    grid-column: 1/2;
    background-image: url('../picture/Ajout_ami.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 8px ;
    margin: 10px;
}

#title {
    font-size: 50px;
}
#login {
    grid-column: 4/5;
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 10%;
    height: 100%;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 10% 10% 60% 20%;
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
}

#chatContent {
    min-width: 400px;
    min-height: 200px;
    margin: 3%;
    border-radius:5px;
    overflow-y: auto;
    border: 3px solid #ECD6BC;
    box-sizing: border-box;
    box-shadow: 0 0 10px #ECD6BC;
    background-color: #fefefe;
    padding: 1%;

}

#windowChat{
    display: grid;
    grid-template-rows: 10% 90%;
    max-height: 400px;
    max-width: 1300px;
    display: none;
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius:5px;
    border: 3px solid #ECD6BC;
    background-color: #fff8f1;
    grid-row: 1/2;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
}

#toppart{
    display: grid;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ECD6BC;
    grid-template-columns: 30% 70%;

}
#search{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 80% 20%;
}
#searchFriend{
    display: grid;
    grid-column: 1/2;
}
#magnifier{
    display: grid;
    grid-column: 2/3;
}
#nameFriend{
    display: grid;
    grid-column: 2/3;
    border-left: 3px solid #ECD6BC;
}

#bottompart{
    display: grid;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    grid-template-columns: 30% 70%;
}
#bottompart2{
    display: grid;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    grid-template-columns: 30% 70%;
}
#listfriend {
    display: grid;
    grid-template-rows: 10% 90%;
    max-width: 1300px;
    margin: 20px auto; /* Centrer dans la vue et ajouter de l'espace */
    width: calc(100% - 40px); /* Largeur moins le padding */
    height: auto;
    border-radius: 5px;
    border: 3px solid #ECD6BC;
    background-color: #fff8f1;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
    padding: 20px; /* Espacement à l'intérieur du conteneur */
}

/* Styles pour le tableau à l'intérieur de #listfriend */
#listfriend table {
    width: 100%; /* Assurer que le tableau prend toute la largeur disponible */
    border-collapse: collapse; /* Pour les bordures collées entre les cellules */
    table-layout: fixed; /* Colonne de largeur fixe */
}

/* Styles pour les en-têtes de tableau et les cellules dans #listfriend */
#listfriend th,
#listfriend td {
    border: 1px solid #ddd; /* Bordure des cellules */
    text-align: center; /* Alignement du texte au centre */
    padding: 8px; /* Espacement interne pour le texte */
}

/* Styles des en-têtes de #listfriend */
#listfriend th {
    background-color: #f3f3f3; /* Couleur de fond pour les entêtes */
    font-weight: bold; /* Texte en gras */
}

/* Styles pour les images dans les boutons de #listfriend */
#listfriend img {
    width: 30px; /* Largeur de l'image */
    height: 30px; /* Hauteur de l'image */
    margin: auto; /* Centrer l'image dans le bouton */
}

/* Alternance des couleurs de fond pour les lignes du tableau */
#listfriend tr:nth-child(odd) {
    background-color: #fefefe; /* Couleur pour les lignes impaires */
}

/* Couleur de fond lors du survol d'une rangée */
#listfriend tr:hover {
    background-color: #f1f1f1;
}
/* Pour les images dans les boutons, vous pourriez vouloir assurer leur alignement et leur taille */
.image-button img {
    width: 30px; /* Largeur de l'image */
    height: 30px; /* Hauteur de l'image */
    margin: auto; /* Centre l'image dans le bouton */
}
#friendList{
    display: grid;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
}
#chatpart{
    display: grid;
    grid-column: 2/3;
    border-left: 3px solid #ecd6bc;
    width: 100%;
    height: 100%;
    grid-template-rows: 90% 10%;

}
#chat{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 80% 20%;
}
#message{
    display: grid;
    grid-column: 1/2;
    margin-left: 3%;
    max-width: 450px;
    min-width: 155px;
}
#send{
    display: grid;
    grid-column: 2/3;
}
#button{
    display: flex;
    justify-content:left;
    margin-left: 5%;
}
#friendButton{
    display: flex;
    border-left: 3px solid #ecd6bc;
    border-right: 3px solid #ecd6bc;
    border-bottom: 3px solid #ecd6bc;
    grid-template-columns: 30% 70%;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
    border-radius: 5px;
    background-color: #fff8f1;
}
#friend{
    display: grid;
    grid-column: 1/2;
    margin-right: 10px;
    margin-left: 10px;
}
#friendText{
    display: grid;
    grid-column: 2/3;
    margin-right: 10px;
}
#chatButton{
    display: flex;
    border-right: 3px solid #ecd6bc;
    border-bottom: 3px solid #ecd6bc;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
    border-radius: 5px;
    background-color: #fff8f1;
}

#requestButton{
    display: flex;
    border-right: 3px solid #ecd6bc;
    border-bottom: 3px solid #ecd6bc;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
    border-radius: 5px;
    background-color: #fff8f1;
}
#chatText{
    display: grid;
    grid-column: 2/3;
    margin-left: 10px;

}
#chat{
    display: grid;
    grid-column: 1/2;
    margin-left: 10px;
}

#windowFriend{
    display: grid;
    grid-template-rows: 10% 90%;
    max-height: 400px;
    max-width: 1300px;
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius:5px;
    border: 3px solid #ECD6BC;
    background-color: #fff8f1;
    grid-row: 1/2;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
}

#windowRequest{
    display: grid;
    grid-template-rows: 10% 90%;
    max-height: 400px;
    max-width: 1300px;
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius:5px;
    border: 3px solid #ECD6BC;
    background-color: #fff8f1;
    grid-row: 1/2;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
}

#listfriend {
    display: grid;
    grid-template-rows: 10% 90%;
    max-width: 1300px;
    margin: 20px auto; /* Centrer dans la vue et ajouter de l'espace */
    width: calc(100% - 40px); /* Largeur moins le padding */
    height: auto;
    border-radius: 5px;
    border: 3px solid #ECD6BC;
    background-color: #fff8f1;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
    padding: 20px; /* Espacement à l'intérieur du conteneur */
}

#friend-requests-table {
    display: grid;
    grid-template-rows: 10% 90%;
    max-width: 1300px;
    margin: 20px auto; /* Centrer dans la vue et ajouter de l'espace */
    width: calc(100% - 40px); /* Largeur moins le padding */
    height: auto;
    border-radius: 5px;
    border: 3px solid #ECD6BC;
    background-color: #fff8f1;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.276);
    padding: 20px; /* Espacement à l'intérieur du conteneur */
}
/* Styles pour le tableau à l'intérieur de #listfriend */
#friend-requests-table table {
    width: 100%; /* Assurer que le tableau prend toute la largeur disponible */
    border-collapse: collapse; /* Pour les bordures collées entre les cellules */
    table-layout: fixed; /* Colonne de largeur fixe */
}

/* Styles pour les en-têtes de tableau et les cellules dans #listfriend */
#friend-requests-table th,
#friend-requests-table td {
    border: 1px solid #ddd; /* Bordure des cellules */
    text-align: center; /* Alignement du texte au centre */
    padding: 8px; /* Espacement interne pour le texte */
}

/* Styles des en-têtes de #listfriend */
#friend-requests-table th {
    background-color: #f3f3f3; /* Couleur de fond pour les entêtes */
    font-weight: bold; /* Texte en gras */
}

/* Styles pour les images dans les boutons de #listfriend */
#friend-requests-table img {
    width: 30px; /* Largeur de l'image */
    height: 30px; /* Hauteur de l'image */
    margin: auto; /* Centrer l'image dans le bouton */
}

/* Alternance des couleurs de fond pour les lignes du tableau */
#friend-requests-table tr:nth-child(odd) {
    background-color: #fefefe; /* Couleur pour les lignes impaires */
}

/* Couleur de fond lors du survol d'une rangée */
#friend-requests-table tr:hover {
    background-color: #f1f1f1;
}

/* Styles pour les boutons et les images à l'intérieur */
.image-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.image-button img {
    display: block;
    width: 30px; /* Définir la taille de l'image */
    height: 30px;
    margin: auto; /* Centrer l'image dans le bouton */
}

#searchFriendpart{
    display: grid;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ECD6BC;
    grid-template-columns:95% 5%;
}
#Friendsearch{
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 80% 20%;
}
#usernamesearch{
    display: grid;
    grid-column: 1/2;
}
#magnifiersearch{
    display: grid;
    grid-column: 2/3;
}
#addFriend {
    display: grid;
    grid-column: 2/3;
    border-left: 3px solid #ECD6BC;
}
#listfriend{
    display: grid;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
}
#friend-requests-table{
    display: grid;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
}

#FriendsList {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 70% 10% 10% 10%;
}
#usernameFriend {
    display: grid;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}
#messageFriend {
    display: grid;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    border-left: 3px solid #ECD6BC;
}
#fightFriend {
    display: grid;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
    border-left: 3px solid #ECD6BC;
}
#deleteFriend {
    display: grid;
    grid-column: 4/5;
    height: 100%;
    width: 100%;
    border-left: 3px solid #ECD6BC;
}
#request {
    display: grid;
    height: 100%;
    width: 100%;
    border-top: 3px solid #ECD6BC;
    grid-template-columns: 80% 10% 10%;
}
#usernameRequest {
    display: grid;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}
#acceptRequest {
    display: grid;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    border-left: 3px solid #ECD6BC;
}
#deleteRequest {
    display: grid;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
    border-left: 3px solid #ECD6BC;

}
.image-button {
    background: none; /* Aucun fond pour que l'image soit visible */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un bouton */
    padding: 0; /* Aucun remplissage */
}

.image-button img {
    display: block; /* Assure que l'image est affichée correctement dans le bouton */
}

.invisible {
    display: none;
}*.notification-container {
     position: fixed;
     top: 50px; /* Adjust based on your layout */
     right: 20px;
     width: 300px;
     background: #fff64d;
     border: 1px solid #70dedb;
     z-index: 1001;
     display: none; /* Initially hidden */
 }

.notification-message {
    padding: 10px;
    border-bottom: 1px solid #ff1e00;
    cursor: pointer;
}

#notificationButton {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.notification-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: none; /* Hidden by default */
}
#buttonNotification{
    grid-column: 1/2;
    background-image: url('../picture/notificon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 8px ;
    margin: 10px;
}
